<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/assets/css/styles.css" />
        <link rel="stylesheet" href="/public/assets/css/video-grid.css" />
        <link
            href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="icon" type="image/png" href="/public/assets/favicon.png" />
        <title>P2P - VIDEO CALL</title>
    </head>
    <body>
        <div class="join">
            <form>
                <input id="name" type="text" placeholder="Enter your name" required />
                <button id="create-room" class="button-38" type="submit">
                    <i class="fa-solid fa-circle-plus"></i>
                    Submit
                </button>
            </form>
        </div>
        <div class="call" style="display: none">
            <div class="Scenary"></div>
            <div class="control">
                <button class="enable-audio toggle-audio button-38" style="display: none">
                    <i class="fa-solid fa-microphone"></i>
                </button>
                <button class="disable-audio toggle-audio button-38">
                    <i class="fa-solid fa-microphone-slash"></i>
                </button>
                <button class="leave-room button-38">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Leave
                </button>
                <button class="toggle-video enable-video button-38" style="display: none">
                    <i class="fa-solid fa-camera"></i>
                </button>
                <button class="toggle-video disable-video button-38">
                    <i class="fa-solid fa-camera-slash"></i>
                </button>
                <button class="toggle-chat button-38">
                    <span style="display: none">⚫</span>
                    <i class="fa-solid fa-message"></i>
                </button>
            </div>
            <div class="chat" style="display: none">
                <div class="chat-heading">
                    <h4>Messages in the call</h4>
                    <i class="fa-regular fa-xmark chat-heading-close"></i>
                </div>
                <div class="chat-content"></div>
                <form>
                    <input type="text" placeholder="Send Message" class="chat-form-input" name="message">
                    <button type="submit">
                        <i class="fa-solid fa-paper-plane-top"></i>
                    </button>
                </form>
            </div>
        </div>
    </body>
    <script src="/public/assets/js/video-grid.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script>
        const roomId = '<%=roomId %>';
    </script>
    <script src="/public/assets/js/media.js"></script>
    <script src="/public/assets/js/call.js"></script>
</html>
